{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<section class="central">     
    <div class="central">
        <h4 class="centered">О проекте</h4>
        <p class="centered"><b>Feedbax$</b> - сайт с отзывами о товарах.</p>
        <p class="centered">Проект написан на языке php версии 7.3 с использованием фреймворка Symfony версии 5.0.8</p>
        <p class="centered">Автор проекта - Плотников Андрей</p>
    </div>
</section>
{% endblock %}
